h1{
    display: inline;
    color: aliceblue;
}
ul{
    display: inline-block;
}
li{
    display: inline-block;
    list-style-type: none;
    margin: 0 20px;
}
header{
    background-color: rgba(44,62,80,1);
    margin-bottom: 3px;
}
nav{
    background-color: rgba(44,62,80,1);
}
footer{
    background-color: rgba(44,62,80,1);
    color: aliceblue;
}
.carouselFadeExampleIndicators{
    width: 500px;
    height: auto;
}
header img{
    width: 60px; 
    height:60px;
    margin-bottom: 4px;
}
h2{
    background-color: rgba(44,62,80,1);
    border: solid 1px rgba(44,62,80,1);
    color: aliceblue;
    text-align: center;
}